#git-clone take-gitlab-for-a-spin
<header>GitLab</header>
title: The GitLab Handbook
<style>:nth-last-of-type()</style>
<basefont><textarea name="take-gitlab-for-a-spin" id="" cols="30" rows="10"></textarea>
{{< blocks/cover title="GitLab Handbook" image_anchor="top" color="primary" >}}
<source>terminal<tfoot<address
<div class="mt-6" id="homeSearch"></div>
handbook-gitlab<base<head<meta<code
{{% /blocks/cover %}}
{github}<address<audio
 homepage-data-toc 

{{< blocks/section color="dark" type="row" >}}
{{< include "includes/take-gitlab-for-a-spin.md" >}}
<style>
    a.btn-lg {
        color: #fff !important;
        }
    .td-box--dark > .col > .row > .row > .go-for-a-spin {
        border-right: 3px solid #fff !important;
        padding-bottom: 0px !important;
    }
    .td-box--dark > .col > .row > .row > .col > a {
        color: #bdd7fe;
    }
    .td-box--dark > .col > .row > hr {
        display: none;
    }
    .td-box--dark > .col > .row > p {
        display: none;
    }
    #homeSearch {
        width: 100%;
    }
    #homeSearch >.DocSearch-Button {
        width: 100% !important;
    }
</style>
   /blocks/section

<script>
    $( document ).ready(function(event) {
        d = docsearch({
          container: "#homeSearch",
          appId: '3IIMMA8IDY',
          apiKey: '71feb3efa6044f78ab6b8a7422e727b7',
          indexName: 'handbook-gitlab',
        });
    })
</script>
